code/arsonbrush/build/
**/build/

*.o
*.obj
*.elf
*.bin
*.hex
*.map

*.ilk
*.exp

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64

*.dSYM/
*.su
*.idb
*.pdb

*.lst
*.lss

*.d

*.s#*

.settings/
.cproject
.project
.mxproject

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

.vscode/
*.code-workspace

*.uvopt
*.uvoptx
*.uvgui.*
RTE/

Debug/
Release/
settings/

.DS_Store
Thumbs.db
*.cache

*~
*.bak
*.BAK

*.tmp
*.temp

*.log

result
result-*
.direnv/
